<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="{{BASE_URL}}/css/style.css"/>
        <link rel="stylesheet" href="{{BASE_URL}}bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        {% block css %}{% endblock %}
        <script src="{{BASE_URL}}bower_components/jquery/dist/jquery.min.js"></script>
        <meta name="robots" content="NOINDEX,NOFOLLOW,NOARCHIVE">
        <title> Project | Admin </title>
    </head>
    <body>
        <div id="wrapper" class="container">
            <div class="row text-center">
                <div class="col-xs-6  col-xs-offset-3">
                    <img class="logo" src="http://placehold.it/250x100?text=Logo">
                    <p>Admin Site</p>
                </div>
                {% if session.username %}
                    <div class="col-xs-3">
                        <a href="logout" class="btn btn-danger pull-right logout-btn">Logout ({{session.username}})</a>
                    </div>
                {% endif %}
                
            </div>
           {% block content %}{% endblock content %}
        </div>
        {% block js %}{% endblock js %}
    </body>
</html>