{% extends "base.html" %}
{% block css %}{% endblock %}
{% block content %}
        
    
    <div class="row">
        <div class="jumbotron">
            <h1>Welcome {{session.username}}</h1>
            {% if session.is_admin %}
            	<a href="register" class="btn btn-primary">Add User</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block js %}{% endblock  %}
