{% extends "base.html" %}
{% block css %}{% endblock %}
{% block content %}
	<div class="row">
        <div class="col-sm-offset-4 col-sm-4">
            <form id="register-form" class="form-horizontal" action='' method="POST">
              <fieldset>
                <div id="legend">
                  <legend class="">Add new user</legend>
                </div>
                {% if error %}
                	<div >
	                  {% if error == "success" %}
	                  	<p class="bg-success text-center message">User <strong>{{session.user_created}}</strong> successfully created <br><a href='login'><span class='glyphicon glyphicon-arrow-left'></span> Back to Home</a></p>
	                  {% else %}
	                  	<p class="bg-danger text-center message">{{error|raw}}</p>
	                  {% endif %}
                  	</div>
                {% endif %}
                <div class="form-group">
                  <!-- Username -->
                  <label class="col-sm-3 control-label"  for="username">Usuario</label>
                  <div class="col-sm-9">
                    <input type="text" id="username" name="usuario" placeholder="" class="form-control" required>
                  </div>
                </div>
                <div class="form-group">
                  <!-- Password-->
                  <label class="col-sm-3 control-label" for="password">Password</label>
                  <div class="col-sm-9">
                    <input type="password" id="password" name="password" placeholder="" class="form-control" required>
                  </div>
                </div>
                <div class="form-group">
                  <!-- Password-->
                  <label class="col-sm-3 control-label" for="password">Confirm password</label>
                  <div class="col-sm-9">
                    <input type="password" id="password1" name="password1" placeholder="" class="form-control" required>
                  </div>
                </div>
                <div class="form-group">
                  <!-- Button -->
                  <div class="controls">
                    <a href="login"><span class='glyphicon glyphicon-arrow-left'></span> Back</a>
                    <button class="pull-right btn btn-success">Register</button>
                  </div>
                </div>
              </fieldset>
            </form>
        </div>
    </div> 
{% endblock %}

{% block js %}
    <script src="{{BASE_URL}}bower_components/jquery-validation/dist/jquery.validate.js"></script>
	<script>
        $("#login-form").validate();
    </script>
{% endblock  %}
